app-main {
    nav {
        -webkit-app-region: drag;
        button, li {
            -webkit-app-region: no-drag;
        }
        &.navbar {
            border-radius: 0;
        }
    }
        
    hr {
        margin-top: 0;
    }

    .header-btn {
        margin-top: 20px;
    }
}